@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes right {
  to {
    transform: rotate(90deg);
  }
}

@keyframes fade {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes up {
  to {
    transform: translateY(0);
  }
}

@keyframes navbar {
  0% {
    opacity: 0;
    right: -5%;
  }
  100% {
    opacity: 1;
    right: 0%;
  }
}

.bgc {
  opacity: 0;
}
.img {
  transform: translateY(100px);
}

.fade {
  animation: fade 1.5s forwards;
}

.up {
  animation: up 1.3s forwards;
}

.none {
  display: none;
}
